# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode9.2
language: objective-c
before_install:
  - gem install cocoapods
  - cd Example/ && pod install && cd ..
dependencies:
  pre:
    - xcrun instruments -w 'iPhone 7 (11.2)' || sleep 15
# cache: cocoapods
# podfile: Example/Podfile
# before_install:
# - gem install cocoapods # Since Travis is not always on latest version
# - pod install --project-directory=Example
script:
- set -o pipefail && xcodebuild build -workspace Example/ScreenRecorder.xcworkspace -scheme ScreenRecorder-Example -destination 'platform=iOS Simulator,name=iPhone 7,OS=11.2' -sdk iphonesimulator11.2 ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint
